<h1>Page layout started</h1>

<wpc-page-layout>
    <ng-template customTemplate let-name="name">
        <p>Hello from Parent! My name is {{ name }}</p>
      </ng-template>
  <!-- <ng-container ngProjectAs=".primary-actions">
    <p style="color: red;">this is test</p>
  </ng-container>

  <ng-container ngProjectAs=".custom-actions">
    <ng-template #customSearch>
        <p style="color: green;">this custom Search</p>
    </ng-template>
  </ng-container>

 
  <ng-template #searchTemplateRef pageSearch>
    <p style="color: blue;">this is Search</p>
  </ng-template> -->
</wpc-page-layout>

<h3>Page layout ended</h3>
