
<attachment-list></attachment-list>
 
<!-- <h1>This is Great</h1>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chair_alt"> </mat-icon>



<app-dashboard></app-dashboard> -->
<!-- <app-user-list></app-user-list> -->



<!-- <button (click)="openDialog()">Open Dialog</button> 

<app-dialog-content>
    <div class="my-class">Hello from projected content!</div>
    <div class="card-title">This is the Card Title</div>
    <div class="card-body">This is the body content of the card!</div>
    
  </app-dialog-content> -->

