<p>plr-page-layout component!</p>
<ng-container *ngIf="templateDirective">
    <ng-container
      *ngTemplateOutlet="templateDirective.templateRef; context: { name: 'Angular' }"
    ></ng-container>
  </ng-container>

<!-- 
<div class="page-search show-for-mobile header">
  <ng-container *ngTemplateOutlet="pageSearchTpl"></ng-container>
</div>

<div class="primary-actions-container">
  <ng-content select=".primary-actions"></ng-content>
</div>


<div class="custom-actions">
    <ng-content select=".custom-actions"></ng-content>
    
    <ng-container *ngTemplateOutlet="customSearch"></ng-container>
  </div>

<div class="page-search show-for-desktop footer">
  <ng-container *ngTemplateOutlet="pageSearchTpl"></ng-container>
</div> -->
